*{
  box-sizing: border-box;
}
.vi-hui {

  &.save-settings-container {
    display: inline-block;
    position: sticky;
    bottom: 20px;
    z-index: 9;
  }

  &.editor {
    display: inline-flex;
    width: 100%;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
    height: 250px;
    overflow: auto;

    .line-numbers {
      width: 20px;
      text-align: right;
      height: 9999px;

      span {
        counter-increment: linenumber;
        &:before {
          content: counter(linenumber);
          display: block;
          color: #506882;
        }
      }

    }

    textarea {
      line-height: 21px !important;
      overflow-y: hidden;
      padding: 0 !important;
      border: 0 !important;
      background: #282a3a !important;
      color: #FFF !important;
      min-width: 500px;
      outline: none;
      resize: none !important;
      height: 9999px !important;
      max-height: unset !important;
      min-height: unset !important;
    }

  }

  &.sortable {
    margin: 0;
    max-width: 25rem;
    li {
      display: inline-flex;
      align-items: center;
      width: 100%;
      min-height: 30px;
      padding: 0.62em 1em;
      background: #ededed;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 4px;
      line-height: 2;
      box-sizing: border-box;
      user-select: none;

      span {
        margin-right: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }
    }
    .ui-sortable-placeholder {
      &.vi-hui-state-highlight {
        border: 3px dotted #ccc;
        background: transparent;
        height: 47px;
      }
    }


  }
}
.vi-ui {
  &.form {
    tr[data-field-index] {
      display: none;
    }
  }
  &.tab {
    background: #fff !important;
  }

  &.fluid {
    &.dropdown {
      width: unset !important;
    }
  }
  &.selection {
    &.dropdown {
      min-height: unset !important;
    }
  }

}

.vi-ui.input {
  &.woore-container-input-copy {
    display: flex;
    .icon.check {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 146px;
      color: #00aca5;
    }
    input {
      width: calc(100% - 130px) !important;
    }
  }
}

.rtl {
  .vi-hui {
    &.sortable li span {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  .vi-ui.input.woore-container-input-copy {
    flex-direction: row-reverse;
  }
}